.navbar-dark {
    z-index: 9;
    width: 100%;
    background-color: #00000045;
}

.navbar {
    position: absolute !important;
    padding: 20px 25px !important;
}

.navbar-nav {
    align-items: center;
}

.navbar-collapse {
    justify-content: flex-end;
    width: auto !important;
}

.navbar-toggler {
    margin-right: 15px;
}

.navbar-brand {
    display: initial;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    width: auto !important;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px !important;
}

.nav-link {
    font-weight: 700;
    letter-spacing: 2px;
    padding-left: 0;
    padding-right: 0;
    padding: 10px 0;
    margin: 0px 1em;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.nav-link:hover {
    color: #fff !important;
}

.nav-link.login {
    cursor: pointer;
}

.nav-link.active {
    color: #6fdefa !important;
}

.padding {
    padding: 50px !important;
}

.log-btn {
    width: 49%;
}

.form-check-input[type="checkbox"] {
    padding-left: 10px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.form-check-label {
    height: 25px;
    display: flex !important;
    align-items: flex-end;
}

.check-style {
    margin: 20px 0 !important;
}

.carousel-indicators button {
    color: rgba(0, 0, 0, 0);
}

.btn-group-log {
    display: flex;
    justify-content: space-between;
}

#fixed-main-page {
    height: 400px;
    border-top: 4px solid #f0f0f0;
    border-bottom: 4px solid #f0f0f0;
    background: url("../public/assets/images/bg.jpg") no-repeat center 40% fixed;
    background-blend-mode: multiply;
    background-color: #bfbfbf;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

hr {
    width: 80% !important;
}

.my-card {
    height: 100%;
}

.articles-row {
    align-items: stretch;
}

.carousel-inner {
    height: 400px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    text-shadow: 5px 5px 8px #000;
}

.carousel-caption a {
    color: white;
}

.slider-block {
    margin-bottom: 60px;
}

.carousel-indicators button {
    content: "содержание" !important;
}

.carousel-caption a h1 {
    font-size: 3.7em;
    font-weight: normal;
}

.w3layouts-newsletter .btn1 {
    color: #6fdefa;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 14px 0;
    border: transparent;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    background: #1e272e;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0;
    padding: 0.7em 2em;
}

.w3layouts-newsletter .btn1:hover {
    color: #6fdefa;
}

.btn1 {
    color: #6fdefa;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 14px 0;
    border: transparent;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    background: #1e272e;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0;
    padding: 0.7em 2em;
}

.bottom-w3layouts-sec-nav {
    border-top: 1px solid #ddd;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.img-novel-shots {
    width: 250px;
    height: auto;
    margin: 0 5px;
}

.desc1-right h3 {
    text-shadow: 0 1px 0 #ffffff;
    color: #1e272e;
    font-size: 1.7em;
    margin-bottom: 15px;
}

.desc1-right h5 {
    font-size: 1.3em;
    color: #62676b;
    line-height: 1.5em;
    -webkit-text-stroke: 0.2px;
    font-weight: 400;
}

.desc1-right h5 span {
    text-decoration: line-through;
}

.desc1-right h5 a {
    margin-left: 5px;
    color: #555555;
    text-transform: capitalize;
    font-size: 14px;
    -webkit-text-stroke: 0px;
    letter-spacing: 0px;
}

.desc1-left {
    text-align: center;
}

.left-ads-display {
    padding: 50px !important;
}

.sub-tittle {
    font-size: 0.3em;
    color: #919aa0;
    letter-spacing: 2px;
    display: block;
    text-transform: uppercase;
}

.media img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
}

.avatar {
    width: 90px !important;
    margin-right: 15px;
}

.media {
    align-items: center;
}

.rectangle {
    width: 80%;
    counter-reset: li;
    list-style: none;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

.col-lg-3 .rectangle {
    width: 100%;
}

.rectangle .item-num {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    text-decoration: none;
    transition: all .3s ease-out;
    background-color: #f5f5f5;
}

.rectangle .item-num:hover {
    background: #eeeeee;
    color: #1b1b1b;
    border-radius: 5px;
}

.rectangle .item-num:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    color: #6fdefa;
    background-color: #1e272e;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle .item-num:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle .item-num:hover:after {
    left: -.5em;
    border-left-color: #1e272e;
}

.avatar-wrap {
    width: 45px;
    height: 45px;
    background-color: rgba(20, 20, 20, 0.5);
    display: flex !important;
    align-items: center;
    border-radius: 50%;
    margin-left: 5px;
}

.avatar {
    font-size: 25px !important;
    color: #d4d4d4 !important;
    margin: 0 0 1px 0px !important;
    font-weight: 700;
    text-align: center;
}

.avatar:hover {
    cursor: pointer;
}

.dropdown-menu {
    min-width: 7em !important;
    border-radius: 0 !important;
}

.dropdown-item {
    font-weight: 700 !important;
    color: #727377 !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px !important;
}

.dropdown-menu.show {
    transform: translate3d(40px, 45px, 0px) !important;
}

.login-wrap {
    width: 20%;
    margin: 50px auto;
}

ol.breadcrumb {
    background: none;
    margin: 0;
    padding: 1em 2em;
    background: #f7f7f7;
}

li.breadcrumb-item {
    font-size: 0.9em;
    letter-spacing: 1px;
}

.breadcrumb-item.active {
    color: #888;
}

li.breadcrumb-item a {
    color: #6fdefa;
}

.sidebar-section {
    height: 100%;
}

.sidebar-content {
    padding: 1em 1em 1em 0;
    height: 100vh;
    overflow-y: scroll;
}

.row {
    margin-right: 0 !important;
}

#theme-slides {
    list-style-type: none;
}

.image-lecture-wrap {
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.image-lecture-wrap img {
    width: 70%;
}

.image-lecture-wrap .image-lecture-sm {
    width: 40%;
}

.image-lecture-wrap span {
    font-style: italic;
    display: block;
    margin: 5px 0;
    color: #797b81;
    font-size: 0.9em !important;
}

.code-wrap pre {
    font-family: "Courier New", serif;
    color: #797b81;
    line-height: 2em;
    letter-spacing: 1px;
    margin: 0;
}

.code-wrap {
    font-family: "Courier New", serif;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: #d4d4d4 solid 1px;
    padding: 15px;
    margin: 0 auto;
}

.code-wrap p {
    margin: 0;
}

.lect_ol {
    font-size: 0.9em !important;
    color: #797b81;
    line-height: 2em;
    letter-spacing: 1px;
}

.lect_li p {
    margin: 0 !important;
}

ul .lect_li,
ol .lect_li {
    margin-left: 30px;
}

.next-btn {
    display: flex;
    background: #f5f5f5 !important;
    font-size: 45px !important;
    border-radius: 50% !important;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: 0.5s all !important;
    top: 50vh;
    position: sticky;
}

.next-btn:hover {
    opacity: 1;
}