.navbar-dark {
    z-index: 9;
    width: 100%;
    background-color: #00000045;
}

.navbar {
    position: absolute !important;
    padding: 20px 25px !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    margin-right: 15px;
}

.navbar-brand {
    display: initial;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.06);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px !important;
}

.nav-link {
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 2px;
    padding-left: 0;
    padding-right: 0;
    padding: 10px 0;
    margin: 0px 1em;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}

.nav-link:hover {
    color: #fff !important;
}

.nav-link.active {
    color: #90f362 !important;
}

.padding {
    padding: 50px !important;
}